.site-header
    text-align: left

.site-header img
    height: 60px
    width: 60px

.site-header h1
    margin: space-0 0 space-0

.site-header p
    text-align: center
    font-size: fs-2
    letter-spacing: 1px
    color: color-2

.site-header nav
    text-align: center
    margin-top: space-0
    font-weight: 700
    font-size: fs-2
    /*text-transform: uppercase*/

.site-header li
    margin-right: 10px

.site-header li:last-child
    margin-right: 0
